body{
  background-color: #E6CC0C;
  justify-content: center;
  align-items: center
   text-align: center;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:10;
	pointer-events: auto;
}
.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #24E511;
	color: #FFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #E51411; }


		
		
.divprincipal {
 
  text-align: center;
}

.divsecundaria {
  background-color: yellow;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}
.divsecundariaRespuesta{
  background-color: #1EDB0E;
  padding: 10px;
  margin: 5px;
  display: inline-block;

}
 .boton {
 font-size: 250% ;
  height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
border: 1px solid #2e518b; 
padding: 10px;
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; 
text-transform: uppercase; /*Mayuscula*/
font-family: 'Helvetica', sans-serif; 
border-radius: 50px; /*borde tipo ovalo*/
}
h1{
color: #DB490E;
  text-align: center;
  font-size: 500% ;
}
h2{
   text-align: center;
  color: #0C20E6;
 
}
h3{
   text-align: center;
   font-size: 250% ;
 
}
img{
  float: right;
}
.robot{
  float: left;
}
.egt{
   text-align: center;
   float: center;
}